@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');
/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(img/FONDO.jpg)  

}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.Burger {
    
    margin: 0 auto;
    width: 350px;
    height: 350px;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
}

/*publicidad*/


.ads2, .ads3 {
    width: 160px;
    position: fixed;
    top: 180px;
}

.ads2 {
    left: 60px;

}

.ads2.hiden {
    display: none;
}


.ads3 {
    right: 60px;

}

.ads3.hiden {
    display: none;
}

.cerrar-ads {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    & img {
        width: 25px;
        height: 25px;
    }



}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.FOODFAST {
    font-size: 35px;
    color: #ffde00;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 17px;
    padding: 20px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #ffde00;
}



.derecho {

    color: #ffffff;
    padding: 550px;
    align-items: center;
    width: 700px;
    display: block;
    padding: 25px ;

}

.derech{
    width: 470px;
    display: block;
    padding: 2000px ;
    text-align: center;
    padding: 50px 0px;
    color: #ffffff;
    

}


#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #ffffff;
}

.borrar {
    background-color: #ffffff;
    border-radius: 100%;
    padding: 5px 10px;
    color: #541c70;
    font-weight: 800;
    cursor: pointer;
}

.header-txt {
    text-align: center;
    padding: 100px 0;

}

.header-txt h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: #DFDDE0;
}


.header-txt p {
    font-size: 16px;
    color: #DFDDE0;
    text-transform: capitalize;
    margin-bottom: 1px;
}

.header-txt img {
    width: 700px;
    display: block;
    padding: 50px ;

}

.btn-2 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #ffde00;
    color: #000000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-top: 100px;
    border-radius: 25px;

}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #ffde00;
    color: #000000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    margin-top: 0px;
}

.about {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
}

.about-img {
    flex-basis: 50%;
    text-align: center;
}

.about-img img {
    width: 350px;
}

.about-txt {
    flex-basis: 50%;
}

h2 {
    color: #ffde00;
    font-size: 80px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 15px;
}

p {
    font-size: 25px;
    color: #ffffff;
}

.products {
    padding: 0 0 200px 0;
    text-align: center;
}

.products h2 {
    margin-bottom: 50px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
}

h3 {
    color: #ffde00;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.precio {
    color: #ffffff;
    font-weight: 800;
    padding: 10px 0;
    margin-bottom: 10px;
}

.btn-2 {
    margin: 0;
    padding: 8px 35px;
}

.footer {
    border-top: 1px solid #ffde00;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 22px;
}

.link a {
    font-size: 16px;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
}

.link a:hover {
    color: #ffde00;
}

@media (max-width:991px) {

    .product-content {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 70px;
    }
    .menu {
        padding: 20px;
    }

    .adss-baner{
        display: none;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #18171D;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 340%;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px;
    }

    .header-txt {
        text-align: center;
    }

    .header-txt h1 {
        font-size: 90px;
        line-height: 1;
    }

    .about {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        order: 2;
    }

    .about-img img {
        width: 250px;
    }

    .about-txt {
        margin-bottom: 25px;
    }

    .products {
        padding: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1. 1fr);
        gap: 30px;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center
    }
}